/* You can add global styles to this file, and also import other style files */
@import './global-vars/colors.scss';
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/scss/font-awesome.scss";

body {
    height: 100vh;
    // margin:0;
}

.cursor-pointer {
    cursor: pointer;
}

.theme-btn-bg-color{
    background-color: $theme-color;
    border: $theme-color;
}

.btn {
    &:hover {
        background-color: $btn-hover-color;
    }
}
.inc-dec-icons {
    vertical-align: -webkit-baseline-middle;
    cursor: pointer;
}
.error-text {
    color: $alert-color;
}
.error-border {
    border-color: $alert-color;
}